* {
  margin: 0;
  padding: 0;
}
.fundo {
  background-image: linear-gradient(45deg, black, aquamarine);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.calc {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.9375rem;
  padding: 0.9375rem;
}

.btn-calc {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5625rem;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  margin: 3px;
}
.btn-calc:hover {
  background-color: black;
}
.btn-calc-1 {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5625rem;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  margin: 3px;
}
.btn-calc-1:hover {
  background-color: red;
}
.btn-calc-alt {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5625rem;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  margin: 3px;
  height: 6.625rem;
}
.btn-calc-alt:hover {
  background-color: black;
}
.btn-calc-larg:hover {
  background-color: black;
}
.btn-calc-larg {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5625rem;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  margin: 3px;
  width: 6.625rem;
}
#resultado {
  background-color: white;
  width: 13.3125rem;
  height: 1.875rem;
  margin: 0.3125rem;
  color: black;
  text-align: right;
  padding: 0.3125rem;
}
